# https://pawelgrzybek.com/change-macos-user-preferences-via-command-line/

# https://apple.stackexchange.com/a/340175/39927
- name: Disable screenshot previews
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: show-thumbnail
    type: bool
    value: false
  notify: Restart SystemUIServer

# https://macos-defaults.com/screenshots/type.html
- name: Set screenshot format to JPEG
  # PNGs weren't displaying properly everywhere, not sure why
  community.general.osx_defaults:
    domain: com.apple.screencapture
    key: type
    type: string
    value: jpg
  notify: Restart SystemUIServer

- name: Auto-hide the Dock
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: int
    value: 1
  notify: Restart Dock

- name: Turn on tap-to-click
  community.general.osx_defaults:
    domain: com.apple.AppleMultitouchTrackpad
    key: Clicking
    type: int
    value: 1
