/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.editor {
  .cursor {}

  &,
  & .gutter {
    background-color: #0F0F0F;
  }

  &.is-focused .line-number.cursor-line-no-selection,
  &.is-focused .line.cursor-line {
    background-color: #222;
  }
  &.is-focused .selection .region {
    background-color: #444;
  }

  .comment {
    color: #757575;
  }


  .gfm {
    .link {
      color: #808080;
      .entity {
        color: #F8F8F2;
      }
    }
  }
}

// for big screen
// https://github.com/atom/markdown-preview/issues/45
/*
.markdown-preview {
  font-size: 50px;
  h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 1.3em;
    margin-top: 1em;
  }
  h3 {
    font-size: 1em;
  }
  .emoji {
    height: 40px;
    width: 40px;
  }
}
*/
