/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.editor {
  .cursor {}

  &,
  & .gutter {
    background-color: #0F0F0F;
  }

  &.is-focused .line-number.cursor-line-no-selection,
  &.is-focused .line.cursor-line {
    background-color: #222;
  }
  &.is-focused .selection .region {
    background-color: #444;
  }

  .comment {
    color: #757575;
  }


  .gfm {
    .link {
      color: #808080;
      .entity {
        color: #F8F8F2;
      }
    }
  }
}
