// https://atom.io/docs/latest/customizing-atom
atom-text-editor::shadow {
  -webkit-font-smoothing: antialiased;

  @afeld-background-color: #0F0F0F;
  .gutter {
    background-color: @afeld-background-color;
  }
  .lines {
    // for some reason, background color is being applied as an inline style
    background-color: @afeld-background-color !important;
  }

  .cursor {}

  .wrap-guide {
    visibility: hidden;
  }

  &.is-focused .line-number.cursor-line-no-selection,
  &.is-focused .line.cursor-line {
    background-color: #222;
  }
  &.is-focused .selection .region {
    background-color: #444;
  }

  .comment {
    color: #A3A3A3;
  }


  .gfm {
    .link {
      color: #808080;
      .entity {
        color: #F8F8F2;
      }
    }
  }
}


// for big screen
// https://github.com/atom/markdown-preview/issues/45
/*
.markdown-preview {
  font-size: 50px;
  h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 1.3em;
    margin-top: 1em;
  }
  h3 {
    font-size: 1em;
  }
  .emoji {
    height: 40px;
    width: 40px;
  }
}
*/
